*~
*.o
*.a
*.la
*.lo
*.dylib
*.so
.deps
Makefile
Makefile.in
aclocal.m4
am
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.lt
config.status
config.sub
configure
depcomp
dependencies.m4
dune-multidomaingrid.pc
install-sh
libtool
ltmain.sh
missing
stamp-h1
.libs
*#
